 
  body{
            margin: 0;
            font-family: Arial, sans-serif;
            
           
        }

        /* -------- NAVBAR -------- */
        .navbar{
            background: #1e1e1e;
            padding: 10px 20px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
             z-index: 9999;
             position: sticky;
               top: 0;
            z-index: 100;
            
        }

        .logo{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 22px;
            font-weight: bold;
        }

        .logo1{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }

        .nav-links{
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 40px;
           
        }

        .nav-links a{
            text-decoration: none;
            color: white;
            font-size: 17px;
        }

        .nav-links a:hover{
            color: #00aaff;
        }

        #menu-toggle{
            display: none;
        }

        .menu-btn{
            display: none;
            cursor: pointer;
            width: 30px;
            height: 24px;
            flex-direction: column;
            justify-content: space-between;
        }

        .menu-btn span{
            width: 100%;
            height: 4px;
            background: white;
            border-radius: 2px;
        }

        /* -------- RESPONSIVE NAVBAR -------- */
        @media (max-width: 768px){

            .menu-btn{
                display: flex;
            }

            .nav-links{
                position: absolute;
                top: 60px;
                right: 10px;
                background: #1e1e1e;
                flex-direction: column;
                width: 180px;
                padding: 15px;
                display: none;
                border-radius: 10px;
            }

            #menu-toggle:checked ~ .nav-links{
                display: flex;
            }

            .nav-links li{
                margin: 10px 0;
            }
        }

        /* -------- FOOTER -------- */

        footer{
            background: #111;
            color: white;
            padding: 40px 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
          
           
        }

        .footer-info{
            flex: 1;
            min-width: 200px;
            margin: 10px;
        }

        .footer-image{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #00aaff;
            margin-bottom: 10px;
        }
        h2{
            color: #00aaff;
        }